{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <div class="container form-container">
        <form method="POST" enctype="multipart/form-data" class="my-4 py-3">
            <h1 class="text-center">Edit Profile</h1>
            {% csrf_token %}
            {{ form.media }}
            {{ form | crispy }}
            <div class="d-flex justify-content-center">
                <input type="submit" value="Submit" class="btn general-purpose-btn my-1">
            </div>
        </form>
    </div>
{% endblock %}