{% load static %}

<div class="row">
    <div class="col">
        <div class="card card-products-profile mb-3 mx-auto">
            <div class="row g-0">
                <div class="col">
                    <div class="row">
                        <a href="{% url 'product_detail' product.id product.slug %}" class="d-flex justify-content-center align-items-center btn {%if not product.available %}disabled disabled-product{% endif %}">
                            <div class="col-sm-4 product-img-profile-container">
                                {% if "placeholder" in product.image.url %}
                                    <img src="{% static 'images/market_default.webp' %}" alt="{{ product.title }}" class="product-img-profile">
                                {% else %}
                                    <img src="{{ product.image.url }}" class="product-img-profile" alt="{{ product.title }}">
                                {% endif %}
                            </div>
                            <div class="col d-flex align-items-center text-start">
                                <div class="card-body ps-3">
                                    <p class="card-title">{{ product.title }}</p>
                                    <p class="card-text">{{ product.description|truncatechars:250 }}</p>
                                    {% if product.currency == 'eur' %}
                                        <p class="card-text"><small class="text-muted">{{ product.price }} {{ product.currency_display }} / {{ product.quantity }} {{ product.units }}</small></p>
                                    {% else %}
                                        <p class="card-text"><small class="text-muted">{{ product.currency_display }} {{ product.price }} / {{ product.quantity }} {{ product.units }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% if profile.user == request.user %}
                    <div class="col-sm-2 d-flex flex-sm-column justify-content-center align-items-center">
                        <div class="row">
                            <div class="col">
                                <form action="{% url 'toggle_product' product.id product.slug %}" method="post" class="product-toggle-form">
                                    {% csrf_token %}
                                    <div class="form-check form-switch">
                                        <fieldset>
                                            <legend style="display: none;">Product availability toggle</legend>
                                            <input class="form-check-input" type="checkbox" role="switch" name="available" {% if product.available %}checked aria-label="Disable product"{% else %}aria-label="Enable product"{% endif %}>
                                        </fieldset>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'edit_product' product.id product.slug %}" class="btn btn-product">Edit</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- Button triggering delete modal -->
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteProductModal" data-product-title="{{ product.title }}" data-product-id="{{ product.id }}" data-product-slug="{{ product.slug }}">Delete</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>