{% load static %}

<div class="row">
    <div class="col">
        <div class="card card mb-3 mx-auto" style="max-width: 1200px;">
            <div class="row g-0">
                <div class="col-sm-4 product-img-profile-container">
                    {% if "placeholder" in product.image.url %}
                        <img src="../../../static/images/market_default.png" class="product-img-profile" alt="">
                    {% else %}
                        <img src="{{ product.image.url }}" class="product-img-profile" alt="">
                    {% endif %}
                </div>
                <div class="col d-flex align-items-center">
                    <div class="card-body ps-3">
                        <p class="card-title">{{ product.title }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        {% if product.currency == 'eur' %}
                            <p class="card-text"><small class="text-muted">{{ product.price }} {{ product.currency_display }}</small></p>
                        {% else %}
                            <p class="card-text"><small class="text-muted">{{ product.currency_display }} {{ product.price }}</small></p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2 d-flex flex-sm-column justify-content-center align-items-center">
                    {% if profile.user == request.user %}
                        <div class="row">
                            <div class="col">
                                <form action="{% url 'toggle_product' product.slug product.id %}" method="post" class="product-toggle-form">
                                    {% csrf_token %}
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="available" {% if product.available %}checked{% endif %}>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'edit_product' product.slug product.id %}" class="btn btn-outline-primary btn-product">Edit</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- Button triggering delete modal -->
                                <button type="button" class="btn btn-outline-danger btn-product" data-bs-toggle="modal" data-bs-target="#deleteProductModal" data-product-title="{{ product.title }}" data-product-slug="{{ product.slug }}" data-product-id="{{ product.id }}">Delete</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>