{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-4" id="profile-picture-container">
            <div class="row">
                <div class="col">
                    {% if "placeholder" in profile.image.url %}
                        <img src="{% static '/icons/profile_avatar.png' %}" alt="Profile avatar" id="profile-picture">
                    {% else %}
                        <img src="{{ profile.image.url }}" alt="Profile Picture" id="profile-picture">
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col mt-3 mb-4 d-flex justify-content-center">
                    {% if profile.user == request.user %}
                        <button class="btn btn-outline-dark w-75"><a href="{% url 'edit_profile' user.id %}">Edit</a></button>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <p>{{ profile.first_name }} {{ profile.last_name }}</p>
                    <p>{{ profile.bio }}</p>
                </div>
            </div>

        </div>
        
    </div>

    {% if request.user == profile.user %}
        <div class="row my-4">
            <div class="col d-flex justify-content-center">
                <a href="#"><i class="fa-solid fa-heart"> Favorites: {{ user_favorites }}</i></a>
                {% for favorite in profile.user.favorited.all %}
                    {{ favorite.product }}
                {% endfor %}
            </div>
        </div>
    {% endif %}


    {% if is_any_product_available %}
    <div class="row my-4 text-center">
        <div class="col">
            <h2>Available Products {% if profile.user == request.user %} <a href="{% url 'add_product' %}" class="btn"><i class="fa-solid fa-plus"></i></a>{% endif %}</h2>
        </div>
    </div>
    {% endif %}

    {% for product in available_products %}
        {% include './product_card.html' %}
    {% endfor %}

    {% if is_any_product_unavailable %}
    <div class="row my-4 text-center">
        <div class="col">
            <h2>Unavailable Products</h2>
        </div>
    </div>
    {% endif %}

    {% for product in unavailable_products %}
        {% include './product_card.html' %}
    {% endfor %}

</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static './js/profile.js' %}"></script>
{% endblock %}