@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Fonts */
    --title: 'Montserrat', sans-serif;
    --body: 'Lato', sans-serif;

    /* Colors */
    --spring-green: rgb(41,122,76);
    --russet: rgb(139,69,19);
    --lavender: rgb(216,212,242);
    --off-lavender: rgba(216,212,242,0.1);
    --cocoa-brown: rgb(210,105,30);
    --azure: rgb(0,127,255);

    --slate-gray: rgb(112, 128, 144);
    --cloud-white: rgb(255, 255, 255);
    --beige: rgb(245, 245, 220);

    /* Boxes */
    --box-shadow-small-lavender: 0px 0px 6px -1px rgb(216,212,242);
}

/* Generic rules */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--body);
}

main {
    flex: 1 0 auto; /* Keeps the footer at the bottom */
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--title);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/* Header */
.navbar {
    background-color: var(--off-lavender);
}

#nav-wrapper {
    width: 100%;
}

#logo-navbar {
    width: 100%;
    aspect-ratio: 1 / 0.2;
    object-fit: cover;
}

#search-bar-form {
    margin: 0 auto;
}

#form-control-navbar {
    border-radius: 50%;
}

.form-control:focus {
    box-shadow: none;
  }

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

.navbar-collapse {
    flex-grow: 0; /* Avoids growing so that nav bar elements can be justified */
}

.nav-item.dropdown {
    height: 4.5rem;
    width: 4.5rem;
}

.icon-menu {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.profile-pic-menu {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

#user-greeting {
    padding: 0.25rem 1rem;
    margin-bottom: 0;
    font-weight: 600;
    color: var(--slate-gray);
}

.hidden {
    visibility: hidden;
}

/* Footer */
footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--slate-gray);
    background-color: var(--off-lavender);
}

.social-media-icon {
    font-size: 200%;
    padding: 1rem;
    color: var(--slate-gray);
}

/* Home */
#hero-image-background {
    background: url('../images/home_3.png') no-repeat center center;
    background-size: cover;
    max-width: 98%;
    border-radius: 5px;
    background-color: var(--russet);
    background-blend-mode: hard-light;
    margin: 0 auto;
}

.hero-image-container {
    padding: 0;
    margin: 0;
}

.hero-image {
    aspect-ratio: 1 / 1;
    max-width: 95%;
    object-fit: contain;
}

#image-vegetables {
    opacity: 0.8;
}

.home-link {
    color: var(--azure)
}

.home-link:hover {
    color: var(--russet)
}

/* Products */
.card-products {
    border: none;
}

.image-container {
    display: grid;
    aspect-ratio: 1 / 1.2;
}

.image-container > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.image-container img {
    border-radius: 0.3rem 0.3rem 0 0;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card-products-body {
    position: relative;
    padding: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    background: var(--cloud-white);
    align-self: end;
    margin: 0.5rem 0.5rem 1rem;
    padding: 0.5rem;
    box-shadow: var(--box-shadow-small-lavender);
}

.card-title {
    font-weight: 600;
    margin: 0;
}

.card-text {
    margin-bottom: 0;
}

.card:hover {
    box-shadow: var(--box-shadow-small-lavender);
}

.producer-name {
    color: var(--russet);
}

.card-icon {
    width: 30px;
    align-self: center;
}

.heart {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 130%;
}

.disabled-product {
    border: none;
}

/* Profile */

#profile-picture-container {
    max-height: 250px;
    max-width: 250px;
    min-height: 156px;
    min-width: 156px;
    border-radius: 5px;
}

#profile-picture {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.product-img-profile-container {
    max-height: 150px;
    max-width: 150px;
    border-radius: 5px;
}

.product-img-profile {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

#bio {
    width: 95%;
    margin: 0 auto;
    min-height: 10rem;
    box-shadow: var(--box-shadow-small-lavender);
}

#about-me {
    font-size: 1rem;
    padding-top: 0.75rem;
}

#about-me-name {
    font-weight: 600;
}

hr {
    margin: 0.3rem;
    color: var(--russet);
}

#favorites-profile {
    font-size: 1.25rem;
    color: var(--azure);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#favorites-profile:hover {
    color: var(--russet);
}

#btn-edit-profile:hover {
    color: var(--cloud-white);
    background-color: var(--cocoa-brown);
    border: 1px solid var(--cocoa-brown);
}

.btn-product {
    border: none;
    margin: 0.5rem 0;
}

.form-switch {
    padding-left: 3rem;
    margin: 0.5rem 0;
}

/* Form */
.account-container {
    width: 90%;
    box-shadow: var(--box-shadow-small-lavender);
    border-radius: 5px;
}

/* Product detail */
.product-detail-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.product-detail-description {
    margin: 0.5rem auto;
    padding: 0.75rem;
    min-height: 10rem;
    box-shadow: var(--box-shadow-small-lavender);
}

#product-details-hr {
    width: 50%;
}

#product-detail-list > li {
    margin-bottom: 0.75rem;
}

.product-detail-icon {
    font-size: 1.5rem;
}

.product-detail-info {
    padding-left: 1rem;
}

.profile-image-container {
    height: 3.5rem;
    width: 3.5rem;
}

/* Media queries */
@media screen and (min-width: 576px) {
    .image-container {
        aspect-ratio: 1 / 1.15;
    }

    .account-container {
        width: 75%;
    }
}

@media screen and (min-width: 768px) {
    .image-container {
        aspect-ratio: 1 / 1.25;
    }
}

@media screen and (min-width: 992px) {
    .image-container {
        aspect-ratio: 1 / 1.4;
    }

    .account-container {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .image-container {
        aspect-ratio: 1 / 1.3;
    }
}