@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Fonts */
    --title: 'Montserrat', sans-serif;
    --body: 'Lato', sans-serif;

    /* Colors */
    --spring-green: rgb(41,122,76);
    --russet: rgb(139,69,19);
    --lavender: rgb(216,212,242);
    --off-lavender: rgba(216,212,242,0.1);
    --cocoa-brown: rgb(210,105,30);
    --azure: rgb(0,127,255);

    --slate-gray: rgb(112, 128, 144);
    --cloud-white: rgb(255, 255, 255);
    --beige: rgb(245, 245, 220);

    /* Boxes */
    --box-shadow-small-lavender: 0px 0px 6px -1px rgb(216,212,242);
}

/* Generic rules */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--body);
}

main {
    flex: 1 0 auto; /* Keeps the footer at the bottom */
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--title);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */
.navbar {
    padding: 0.5rem 1.5rem;
    background-color: var(--off-lavender);
}

.navbar-collapse {
    flex-grow: 0; /* Avoids growing so that nav bar elements can be justified */
}

#icon-menu {
    height: 2.5rem;
}

.hidden {
    visibility: hidden;
}

/* Footer */
footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--slate-gray);
    background-color: var(--off-lavender);
}

.social-media-icon {
    font-size: 200%;
    padding: 1rem;
    color: var(--slate-gray);
}

/* Products */
.card {
    border: none;
 }

.image-container {
    height: 200px;
    overflow: hidden;
    align-self: center;
}

.image-container img {
    object-fit: fill;
    border-radius: 0.3rem 0.3rem 0 0;
}

.card-body {
    padding: 0.5rem;
}

.card-title {
    margin: 0;
}

.card-text {
    margin-bottom: 0;
    font-size: 75%
}

/* Form */
.account-container {
    width: 90%;
    box-shadow: var(--box-shadow-small-lavender);
    border-radius: 5px;
}


/* Media queries */
@media screen and (min-width: 576px) {
    .account-container {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .account-container {
        width: 50%;
    }
}