{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center my-5">
            <div class="col">
                <h2>Oooops</h2>
                <h3>We couldn't find that page</h3>
                <button class="btn d-flex justify-content-center w-auto mx-auto my-2"><a href="{% url 'home' %}" class="home-link" aria-label="Go to our home page">Return to Home Page</a></button>
            </div>
        </div>
    </div>
{% enblock %}