{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static './css/base.css' %}">

    <title>Loketable - {% block title %}{% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-expand">
        <div class="container-fluid justify-content-between">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
            <!-- Search bar -->
            <form class="d-flex" role="search" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
            <!-- Profile dropdown -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/icon_menu_1.png' %}" alt="Profile Menu Icon" id="icon-menu">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_product' %}">Add product</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign up</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Log in</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>

        <!--
        All external links open in a new tab and have attribute rel="noopener"
        Aria label for screen readers.
        -->

        <a href="https://facebook.com" target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook social-media-icon"></i></a>

        <a href="https://twitter.com" target="_blank" rel="noopener"
            aria-label="Visit our Twitter page (opens in a new tab)"><i
                class="fab fa-twitter-square social-media-icon"></i></a>

        <a href="https://youtube.com" target="_blank" rel="noopener"
            aria-label="Visit our Youtube page (opens in a new tab)"><i
                class="fab fa-youtube-square social-media-icon"></i></a>

        <a href="https://instagram.com" target="_blank" rel="noopener"
            aria-label="Visit our Instagram page (opens in a new tab)"><i
                class="fab fa-instagram-square social-media-icon"></i></a>

    </footer>
    <!-- Font awesome script-->
    <script src="https://kit.fontawesome.com/d0d853e7a3.js" crossorigin="anonymous"></script>

</body>
</html>