{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
    <div class="container form-container">
        <form method="POST" enctype="multipart/form-data" class="my-4 py-3">
            <h1 class="text-center mb-3">{% if product.title %}Edit {{ product.title }}{% else %}Add Product{% endif %}</h1>
            {% csrf_token %}
            {{ form.media }}
            {{ form | crispy }}
            <div class="d-flex justify-content-center">
                <a href="{% url 'profile' user.id %}" class="btn btn-cancel">Cancel</a>
                <input type="submit" value="Submit" class="btn general-purpose-btn my-1">
            </div>
        </form>
    </div>
{% endblock %}