{% extends 'base.html' %}

{% load static %}

{% block title %}Local products{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-md bg-white">
        <div class="container-fluid justify-content-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesToggle" aria-controls="categoriesToggle" aria-expanded="false" aria-label="Toggle categories">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="categoriesToggle">
                <form method="get" class="row align-items-center justify-content-center">
                    <div class="col-12">
                        <button class="btn btn-outline-dark mx-1" name="category" value="">All</button>
                    {% for category, category_name in categories %}
                        <button class="btn btn-outline-dark m-1" name="category" value="{{ category }}">{{ category_name }}</button>
                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="col-12 mt-3">
                <div class="row">

                    {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-3 justify-content-center">
                            <div class="card my-4">
                                <div class="card-body">

                                    {% if user.is_authenticated %}
                                        <form action="{% url 'add_to_favorite' product.slug product.id %}" method="POST">
                                            {% csrf_token %}
                                            {% if product.is_favorite %}
                                                <button type="submit" class="btn fa-solid fa-heart heart"></button>
                                            {% else %}
                                                <button type="submit" class="btn fa-regular fa-heart heart"></button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                    <div class="image-container">
                                        {% if product.slug %}
                                            <a href="{% url 'product_detail' product.slug product.pk %}">
                                                {% if "placeholder" in product.image.url %}
                                                    <img src="../../../static/images/market_default.png" class="card-img-top" alt="">
                                                {% else %}
                                                    <img src="{{ product.image.url }}" class="card-img-top" alt="">
                                                {% endif %}
                                            </a>
                                        {% else %}
                                            {% if "placeholder" in product.image.url %}
                                                <img src="../../../static/images/market_default.png" class="card-img-top" alt="">
                                            {% else %}
                                                <img src="{{ product.image.url }}" class="card-img-top" alt="">
                                            {% endif %}
                                        {% endif %}

                                        <div class="card-content">
                                            <p class="card-title">{{ product.title }}</p>
                                            <p class="card-text">In {{ product.city }}</p>
                                            {% if product.currency == 'eur' %}
                                                <p class="card-text text-muted">{{ product.price }} {{ product.currency_display }}</p>
                                            {% else %}
                                                <p class="card-text text-muted">{{ product.currency_display }} {{ product.price }}</p>
                                            {% endif %}
                                            <img class="card-icon" src="{% static product.category_icon_url %}" alt="{{ product.category }}">
                                        </div>
                                    </div>

                                    <a href="{% url 'profile' product.user.id %}" class="producer-name d-flex justify-content-center">By {{ product.user.profile.first_name }}</a>
                                </div>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                    {% endif %}

                    {% endfor %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}