{% extends 'base.html' %}

{% load static %}

{% block title %}Product details - {{product.title}}{% endblock %}

{% block content %}
<!-- <div class="modal-dialog modal-dialog-centered"></div> -->
    {% if not product.available %}
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">This product is currently unavailable</h1>
                </div>
                <div class="modal-body">
                <p>{% if product.user.profile.first_name %}{{ product.user.profile.first_name }}{% else %}{{ product.user.username }}{% endif %} 
                    has marked <strong>{{ product.title }}</strong> as not available at the moment.
                </p>
                </div>
                <div class="modal-footer justify-content-center">
                <a href="{% url 'products' %}" class="btn btn-outline-primary">See all available products</a>
                </div>
            </div>
            </div>
        </div>
    {% endif %}

    <div class="container mt-4">

        <div class="row mt-5 justify-content-center">

            <div class="col-8 col-md-5 d-flex align-items-center product-detail-image-container">
                {% if "placeholder" in product.image.url %}
                    <img src="{% static 'images/market_default.png' %}" class="product-detail-image" alt="">
                {% else %}
                    <img src="{{ product.image.url }}" class="product-detail-image" alt="">
                {% endif %}
            </div>

            <div class="col-10 col-md-7">
                <div class="row mt-3 mt-md-0 text-center">
                    <div class="col card-title">
                        <h2>{{ product.title }}</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col product-detail-description">
                        {{ product.description }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="d-flex flex-column align-items-center">
                        <h3>Details</h3>
                        <hr id="product-details-hr" class="mb-4">
                    </div>
                    <div class="d-flex flex-column flex-sm-row align-items-center">
                        <div class="col d-flex mb-4 justify-content-center align-items-center">
                            <a href="{% url 'profile' product.user.id %}" class="d-flex align-items-center">
                                <div class="profile-image-container">
                                {% if "placeholder" in product.user.profile.image.url %}
                                    <img src="{% static 'icons/profile_avatar.png' %}" alt="Profile Menu Icon" class="icon-menu">
                                {% else %}
                                    <img src="{{ product.user.profile.image.url }}" alt="Profile Picture" class="profile-pic-menu">
                                {% endif %}
                                </div>
                                <span class="ps-3">{{ product.user.profile.first_name }}</span>
                            </a>
                        </div>
                        <div class="col product-detail-box">
                            <ul id="product-detail-list">
                                {% if product.price %}
                                <li class="d-flex"><i class="fa-solid fa-coins product-detail-icon"></i> <span class="product-detail-info">{{ product.price }} {{ product.currency_display }}</span></li>
                                {% endif %}
                                {% if product.city %}
                                <li class="d-flex"><i class="fa-solid fa-location-dot product-detail-icon"></i> <span class="product-detail-info">{{ product.city }}, {{ product.country }}</span></li>
                                {% endif %}
                                {% if product.category %}
                                <li class="d-flex"><i class="fa-solid fa-tag product-detail-icon"></i> <span class="product-detail-info">{{ product.category | title }}</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}


{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() { 
            const myModal = new bootstrap.Modal('#staticBackdrop', {
                keyboard: false,
                });

            myModal.show();
        });
    </script>
{% endblock %}
