{% extends 'base.html' %}

{% load static %}

{% block title %}Local products{% endblock %}

{% block content %}

    <!-- Checking url to know if it's the Products or Favorites Page -->
    {% with request.resolver_match.url_name as url_name %}
        {% if url_name == 'products' %}
            <!-- Using category or query from the view context data -->
            {% if category %}
                <h1 class="text-center">Available Products for "{{category}}"</h1>
            {% elif query %}
                <h1 class="text-center">Available Products for "{{query}}"</h1>
            {% else %}
                <h1 class="text-center">Available Products</h1>
            {% endif %}
        {% elif url_name == 'favorite_products' %}
            {% if category %}
                <h1 class="text-center">Favorite Products for "{{category}}"</h1>
            {% elif query %}
                <h1 class="text-center">Favorite Products for "{{query}}"</h1>
            {% else %}
                <h1 class="text-center">Favorite Products</h1>
            {% endif %}
        {% endif %}
    {% endwith %}

    <!-- Category selection menu -->
    <nav class="navbar navbar-expand-md bg-white">
        <div class="container-fluid justify-content-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesToggle" aria-controls="categoriesToggle" aria-expanded="false" aria-label="Toggle categories">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="categoriesToggle">
                <form method="get" class="row align-items-center justify-content-center">
                    <div class="col-12 text-center mt-3">
                        <button class="btn general-purpose-btn mx-1" name="category" value="">All</button>
                    {% for category, category_name in categories %}
                        <button class="btn general-purpose-btn m-1" name="category" value="{{ category }}">{{ category_name }}</button>
                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!-- / Category selection menu -->

    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="row">
                    <!-- Loop through products to display each of them -->
                    {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-3 justify-content-center">
                            <div class="card my-4 card-products">
                                <!-- Disabled Tooltip. Should only be necessary for Favorites view -->
                                <div class="card-body card-products-body"
                                tabindex="0" {%if not product.available %}data-bs-toggle="tooltip" data-bs-title="This product is currently unavailable"{% endif %}>
                                    <!-- Only authenticated users can add / remove items from Favorites -->
                                    {% if user.is_authenticated %}
                                        <form action="{% url 'add_to_favorite' product.id product.slug %}" method="POST">
                                            {% csrf_token %}
                                            {% if product.is_favorite %}
                                                <button type="submit" class="btn fa-solid fa-heart heart" aria-label="Remove from favorites"></button>
                                            {% else %}
                                                <button type="submit" class="btn fa-regular fa-heart heart" aria-label="Add to favorites"></button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                    <div class="image-container">
                                        <!-- Disable when the product is not available. Only necessary for Favorites view -->
                                        <a href="{% url 'product_detail' product.id product.slug %}" class="btn product-link {%if not product.available %}disabled disabled-product{% endif %}">
                                            {% if "placeholder" in product.image.url %}
                                                <img src="{% static 'images/market_default.webp' %}" class="card-img-top" alt="{{ product.title }}">
                                            {% else %}
                                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                                            {% endif %}
                                            <div class="card-content justify-content-start align-items-start">
                                                <p class="card-title card-title">{{ product.title }}</p>
                                                <p class="card-text">In {{ product.city }}</p>
                                                {% if product.currency == 'eur' %}
                                                    <p class="card-text text-muted">{{ product.price }} {{ product.currency_display }} / {{product.quantity}} {{product.units}}</p>
                                                {% else %}
                                                    <p class="card-text text-muted">{{ product.currency_display }} {{ product.price }} / {{product.quantity}} {{product.units}}</p>
                                                {% endif %}
                                                <img class="card-icon" src="{% static product.category_icon_url %}" alt="{{ product.category }}">
                                            </div>
                                        </a>
                                    </div>
                                    <a href="{% url 'profile' product.user.id %}" class="producer-name d-flex justify-content-center mt-2 mb-3">By {{ product.user.profile.first_name }}</a>
                                </div>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                    {% endif %}

                    <!-- Content for the case that there are no products -->
                    {% empty %}
                        <h2 class="text-center my-5">There are currently no products available</h2>
                        {% with request.resolver_match.url_name as url_name %}
                            {% if url_name == 'products' %}
                                <button class="btn d-flex justify-content-center w-auto mx-auto my-2"><a href="{% url 'products' %}" class=" home-link">See Available Products</a></button>
                            {% elif url_name == 'favorite_products' %}
                                <button class="btn d-flex justify-content-center w-auto mx-auto my-2"><a href="{% url 'favorite_products' %}" class=" home-link">See Available Products</a></button>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Pagination -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        <!-- / Pagination -->

    </div>

{% endblock %}

<!-- Script for BS tooltip -->
{% block extra_js %}
    <!-- Bootstrap Tooltips initialization -->
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
{% endblock %}